
@{
    ViewBag.Title = "Analista";
}

<h2>Panel de Analista</h2>

@*<p>
    @Html.ActionLink("Administrar Universidades", "Index", "Universidades")
</p>
<p>
    @Html.ActionLink("Administrar Especialidades", "Index", "Especialidades")
</p>

<p>
    @Html.ActionLink("Administrar Docentes", "Index", "Docentes")
</p>*@