
@{
    ViewBag.Title = "Analista";
}

<h2>Panel de Analista</h2>

<p>
    @Html.ActionLink("Administrar Indicadores", "Index", "Indicadores")
</p>
<p>
    @Html.ActionLink("Administrar Categorías", "Index", "Especialidades")
</p>

<p>
    @Html.ActionLink("Administrar Tipos", "Index", "Docentes")
</p>

<p>
    @Html.ActionLink("Administrar SubTipos", "Index", "Docentes")
</p>